# Global .gitignore for all subprojects

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
.installed.cfg

# Node/JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3

# Build/Dist
build/
dist/
*.out
*.log

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Custom
frontend.zip

.trae/*

.cursor/*

.Python
build/
dist/